<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<!-- insert rewriteMap using absolute urls -->
			<rewriteMaps configSource="rewritemaps.config"><rewriteMaps>
            <rules>
                <rule name="Redirect Rule for PermanentRedirects" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{PermanentRedirects:http://{HTTP_HOST}{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
